// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$primary: #952597;
$secondary: #FFF;
$accent: #28D04D;
$any: #838383; 
$text-body: #484747;

.buttom-accept {
  font-size: 15px;
  background-color: $accent;
  color: $secondary;
}

.buttom-any {
  font-size: 15px;
  color: $any;
}

.content-title {
  font-size: 30px;
  color: $primary;
}

.text-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.text-body {
  font-size: 20px;
  color: $text-body;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 2%;
  min-height: 100%;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.input-primary {
  color: $primary
}