// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$primary: #952597;
$secondary: #FFF;
$accent: #28D04D;
$any: #838383; 
$text-body: #484747;
$text-subtitle: #363535;
$text-title: #1f1e1e;

.button-accept {
  height: 30px;
  padding: 0 10px;
  font-size: 15px;
  background-color: $accent;
  color: $secondary;
  border-radius: 5px;
}

.button-any {
  margin: 0 0 3px 0;
  font-size: 15px;
  color: $any;
}

.content-title {
  font-size: 30px;
  margin-bottom: 20px;
  color: $primary;
}

.text-title {
  font-size: 30px;
  margin-bottom: 10px;
  color: $text-title;
}

.text-subtitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: $text-subtitle;
}

.text-body {
  font-size: 20px;
  color: $text-body;
  text-align: justify;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 2%;
}

.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: initial;
}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.input-primary {
  color: $primary;
}

.card-content {
  box-shadow: 5px 10px #C3C3C3aa;
  width: 600px;
  height: 200px;
  border-radius: 0 0 0 40px;
  padding: 0;
  margin: 20px 0;
}
